<p class="lead">
	<%=t 'controllers.presentations.explanation'%>
</p>
<% if presentations.empty? %>
	<h2><%=sprintf(t('controllers.presentations.no_presentations'), url('/presentations/new'))%></h2>
<% else %>
	<div class="table-responsive">
		<table class="table-hover">
			<thead>
				<tr>
						<th><%=t 'models.presentation.name'%></th>
						<th><%=t 'models.presentation.changed_at'%></th>
				</tr>
			</thead>
			<tbody>
				<% presentations.each do |presentation| %>
					<tr>
						<td><%=presentation.name%></td>
						<td><%=presentation.changed_at.strftime(t('time.formats.long'))%></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>
